section.features
  .container 
    .row
      .col-12 
        .title Featured
    .row 
      .col-3.features__block 
        .features__block-image
          a(href="#")
            img(src="img/layer-22.png", alt="features one" width="270px" heigth="290px")
        .features__content
          .disc Lorem ipsum dolor sit amet conse ctetur adipisicing eli
          .regprice Regular Price: $79.99
          .price $63.99
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star.min
          i.fa.fa-star.min
          a.read(href="#") Read 17 Reviews
          .shipping $3.99 Flat Rate Shipping! 
          .btn 
             a(href="#") Add to cart
      .col-3.features__block 
        .features__block-image
          a(href="#")
            img(src="img/layer-22.png", alt="features one" width="270px" heigth="290px")
        .features__content
          .disc Lorem ipsum dolor sit amet conse ctetur adipisicing eli
          .regprice Regular Price: $79.99
          .price $63.99
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star.min
          i.fa.fa-star.min
          a.read(href="#") Read 17 Reviews
          .shipping $3.99 Flat Rate Shipping! 
          .btn 
             a(href="#") Add to cart
      .col-3.features__block 
        .features__block-image
          a(href="#")
            img(src="img/layer-22.png", alt="features one" width="270px" heigth="290px")
        .features__content
          .disc Lorem ipsum dolor sit amet conse ctetur adipisicing eli
          .regprice Regular Price: $79.99
          .price $63.99
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star.min
          i.fa.fa-star.min
          a.read(href="#") Read 17 Reviews
          .shipping $3.99 Flat Rate Shipping! 
          .btn 
             a(href="#") Add to cart
      .col-3.features__block 
        .features__block-image
          a(href="#")
            img(src="img/layer-22.png", alt="features one" width="270px" heigth="290px")
        .features__content
          .disc Lorem ipsum dolor sit amet conse ctetur adipisicing eli
          .regprice Regular Price: $79.99
          .price $63.99
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star.min
          i.fa.fa-star.min
          a.read(href="#") Read 17 Reviews
          .shipping $3.99 Flat Rate Shipping! 
          .btn 
             a(href="#") Add to cart
