doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    section.header
      section.header__navigation
        .container
          .row
            .col
              ul.header__up
                li
                  a.header__up-action(href="#") My Account
                li
                  a(href="#") My Wishlist
                li 
                  a(href="#") My Card 
                li 
                  a(href="#") Checkout
                li 
                  a(href="#") Log In
              .header__basket 
                a(href="#")
                  i.fa.fa-shopping-basket
                    .quantity 0 
      section.header__logotip
        .container
          .row
            .col-4
              .header__logotip-img 
                img(src="img/layer-5.png", alt="logo")
                h1 sports
                span nutrition
            .col-4.search
                input(type="text")
                a(href="#")
                  i.fa.fa-search
            .col-4.contact
              .ask ASK OUR EXPERTS
              a(href="#")
                .tel 80023456789
                  i.fa.fa-phone
              .time Hours 6am-4pm PST M-Th;   6am-3pm PST Fri
      section.header__menu
        .container
          .row
            .col
              ul.show-ul
                li 
                  a.active(href="#") PROTEIN
                li 
                  a(href="#") PRE-WORKOUT
                li 
                  a(href="#") AMINO ACIDS
                li 
                  a(href="#") HARDCORE
                li 
                  a(href="#") THERMOGENICS
              .list 
                .row
                  .col-3
                    ul.hide-ul 
                      li
                        a.active(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                  .col-3
                    ul.hide-ul.hide-ul-two 
                      li
                        a.active(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                  .col-3
                    ul.hide-ul.hide-ul-three  
                      li
                        a.active(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum
                      li 
                        a(href="#") Lorem ipsum




              

    