section.main
  .container
    .row
      .col-12.main__title 
        span.acr Achieve your fitness<br>
        span.goal goals, optimal health<br>
        span.phys and physical performance
      .col-12.main__add
        .row
            .col-9 Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut  labore<br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br> aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat.
            .col-3.btn
                a.shop(href="#") Shop now!
        .row.carts 
            .col-4.cart
                a(href="#") 
                    img(src="img/2-layersP.png", alt="one" width="370px" heigth="280px" )
                    .cart__name PROTEIN
            .col-4.cart
                a(href="#") 
                    img(src="img/pr2.png", alt="one2" width="370px" heigth="280px")
                    .cart__name PRE-WORKOUT
            .col-4.cart
                a(href="#") 
                    img(src="img/pr3.png", alt="one3" width="370px" heigth="280px")
                    .cart__name AMINO ACIDS
            .col-4.cart
                a(href="#") 
                    img(src="img/pr4.png", alt="one4" width="370px" heigth="280px")
                    .cart__name PROTEIN
            .col-4.cart
                a(href="#") 
                    img(src="img/pr5.png", alt="one5" width="370px" heigth="280px")
                    .cart__name PRE-WORKOUT
            .col-4.cart
                a(href="#") 
                    img(src="img/pr6.png", alt="one6" width="370px" heigth="280px")
                    .cart__name AMINO ACIDS
section.fix

