section.twocol
  .container
    .row.real
      .col-2.twocol-img
        i.fa.fa-dropbox
      .col-4
        .twocol-title Lorem ipsum dolor sit amet conse ctetur adipisicing elit
        .twocol-disc Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .col-2.twocol-img.active
        i.fa.fa-expeditedssl
      .col-4
        .twocol-title Lorem ipsum dolor sit amet conse ctetur adipisicing elit
        .twocol-disc Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
    .row.real
      .col-2.twocol-img.active
        i.fa.fa-pinterest
      .col-4
        .twocol-title Lorem ipsum dolor sit amet conse ctetur adipisicing elit
        .twocol-disc Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .col-2.twocol-img
        i.fa.fa-superpowers
      .col-4
        .twocol-title Lorem ipsum dolor sit amet conse ctetur adipisicing elit
        .twocol-disc Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

    
    